---
pageable: true
per_page: 30
---
   <% blog.articles[0..30].each do |article| %>
<% page_articles[0..30].each do |article| %>

<% if article.data.link %>
<!-- Link Posts -->
<h3> <%= link_to article.title, article.data.link %></h3>

<% else %>

<!-- Non link post -->
<h3 class="non-link"> <%= link_to article.title, article %></h3>
<% end %>

<% if article.data.link %>
<small> <%= article.date.strftime('%e of %B, %Y') %> | <%= link_to 'Permalink', article %> </small>

<% else %>

<small> <%= article.date.strftime('%e of %B, %Y') %> </small>

<% end %>

    <%= article.body %>
  <% end %>
  <center> 
    <hr>
   <div id="root">
    <div id="root_footer"></div>
  </div>
  <div id="footer">
    <h6>&copy Someone | Made by yours truely with <a href="https://middlemanapp.com/">Middleman</a></h6>
  </div>
  </center>